<!DOCTYPE html>
<head>
	<%= stylesheet_link_tag "jquery.fullPage" %>
	<%= stylesheet_link_tag "custom" %>
	<%= javascript_include_tag "jquery.fullPage.min" %>
	<%= javascript_include_tag "jquery-ui.min" %>
</head>
<body>







</body>
